* {
    margin: 0;
    padding: 0;
    }
    
header {
    background-color: black;
    height: 100px;
    margin-bottom: 10px;
}

body {
    background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202001/Breaking_Bad.jpeg?Ifrqi.v01Y0KfAlAyY172HCu8HZTJJvy&size=770:433");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%; 
}

table {
    background-color: white;
    width: 1000px;
}
td {
    text-align: center;
}

h1 span{
    color: white;
    padding: 5px;
    background-color: rgb(23, 82, 39);
}

#character-container div {
    background-color: white;
    width: 450px;
    padding: 10px;
}

#character-container div div {
    background-color: white;
    width: 430px;
    padding: 10px;
}

#character-container p {
    background-color: white;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 60px;
}

#search {
    width:250px;
}
#search-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}